
.bg-info{
    background-color: #fceae8 !important;
    border: none !important;
}

.categories-bg-color{
    background-color: #ffa500!important;
}

.panda-button-bg{
    background:linear-gradient(to bottom, #FF589B 0%, #FF136F 100%)  ;

}

